.containerblog {
    width: 90%;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.containerblog h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.containerblog p {
    color: #666;
    line-height: 1.6;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-summary {
    flex: 1 1 calc(50% - 20px);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.post-summary:hover {
    transform: translateY(-10px);
}

.post-summary h3 {
    color: #333;
    margin-bottom: 10px;
}

.post-summary p {
    color: #666;
}

.post-summary a {
    color: #007bff;
    text-decoration: none;
}

.post-summary a:hover {
    text-decoration: underline;
}

