body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;

   
}

header {
    background-color: #092542;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav-container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Ajuste para no ocultar el header */
    position: relative; /* Añadido para contener el menú desplegable */
}

.nav-container .logo {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #130a77;
    font-weight: bold;
    font-size: 0.85rem;
    padding-right: 30px;
}

nav a:hover {
    color: #007BFF;
}

nav a.active {
    color: #007BFF;
}
.menu-toggle {
    display: none;
    background-color: #092542;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 1001; /* Asegura que esté por encima del menú */
}

.container {
    width: 90%;
    /*padding: 20px;*/
    max-width: 1200px;
    margin: 20px auto 0; /* Ajuste para no ocultar el header */
    text-align: center;


   
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
}

.responsive-gif {
    width: 100%;
    height: auto;
}

.info-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.info-container .header {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}.info-container .header {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.column {
    background-color: #eeeff0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Dos columnas en pantallas grandes */
    box-sizing: border-box;
}

.column.full-width {
    flex: 1 1 100%; /* Una columna en pantallas pequeñas */
}

.column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.column h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.column p, .column ul {
    font-size: 1rem;
    text-align: left;
}

.column ul {
    padding-left: 20px;
}

.column li {
    margin-bottom: 10px;
}
footer {
    background-color: #092542;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
    height: 55px;
}

footer p {
    justify-content: center;
    font-size: 1rem;
}

/* Chatbot styles */
.chatbot-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: url('/images/icono.png') no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 55px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.chatbot-container {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}














/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Despliega el menú justo debajo del nav-container */
        right: 0;
        background-color: #ffffff;
        width: 200px; /* Ancho del menú desplegable */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Asegura que esté por encima del contenido */
    }

    nav.open {
        display: flex;
    }

    nav a {
        padding: 10px;
        border-bottom: 1px solid #f4f4f4; /* Línea divisoria entre elementos */
    }

    .info-container {
        grid-template-columns: 1fr;
    }

    .info-container .header {
        grid-column: span 1;
    }

    .info-container .column1,
    .info-container .column2 {
        text-align: center;
    }

    .info-container img {
        float: none;
        margin: 0 auto 10px;
    }

    .info-container h3 {
        font-size: 1rem;
    }

    .info-container p, .info-container ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .menu-toggle {
        display: block;
        order: 2;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        order: 1;
    }

    nav.open {
        display: flex;
    }

    nav a {
        display: block;
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .nav-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .nav-container .logo {
        width: 100px; /* Ajusta el tamaño del logo para pantallas pequeñas */
    }

    header h1 {
        font-size: 1.2rem;
    }

    .container {
        width: 95%;
        margin-top: 100px; /* Ajuste para no ocultar el header */
    }

    .info-container h3 {
        font-size: 0.9rem;
    }

    .info-container p, .info-container ul {
        font-size: 0.8rem;
    }

    .info-container .column1[style] {
        text-align: left; /* Alinea la última columna a la izquierda */
    }
}