body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #092542;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Ajuste para no ocultar el header */
}

.nav-container .logo {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #130a77;
    font-weight: bold;
    font-size: 0.85rem;
}

nav a:hover {
    color: #007BFF;
}

nav a.active {
    color: #007BFF;
}

.container {
    width: 90%;
    padding: 20px;
    max-width: 1200px;
    margin: 80px auto 0; /* Ajuste para no ocultar el header */
    text-align: center;
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
}

.responsive-gif {
    width: 100%;
    height: auto;
}

.info-container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.info-container .header {
    grid-column: span 2;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.info-container .column1,
.info-container .column2 {
    background-color: #eeeff0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.info-container img {
    float: left;
    margin-right: 10px;
}

.info-container h3 {
    font-size: 1.2rem;
}

.info-container p, .info-container ul {
    font-size: 1rem;
}

.info-container ul {
    padding-left: 20px;
}

footer {
    background-color: #092542;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
    height: 45px;
   
}

footer p {
    justify-content: center;
    
    font-size: 1rem;
}

/* Chatbot styles */
.chatbot-toggle {
    position: fixed;
    bottom: 35px;
    right: 5px;
    background: url('/images/icono.png') no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 55px;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.chatbot-container {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 5px;
    border: 2px solid #ccc;
    /*border-radius: 5px;*/
    overflow: hidden;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        font-size: 0.75rem;
    }

    .info-container {
        grid-template-columns: 1fr;
    }

    .info-container .header {
        grid-column: span 1;
    }

    .info-container .column1,
    .info-container .column2 {
        text-align: center;
    }

    .info-container img {
        float: none;
        margin: 0 auto 10px;
    }

    .info-container h3 {
        font-size: 1rem;
    }

    .info-container p, .info-container ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 0.7rem;
    }

    .nav-container .logo {
        width: 120px; /* Ajusta el tamaño del logo para pantallas pequeñas */
    }

    header h1 {
        font-size: 1.2rem;
    }

    .container {
        width: 95%;
        margin-top: 100px; /* Ajuste para no ocultar el header */
    }

    .info-container h3 {
        font-size: 0.9rem;
    }

    .info-container p, .info-container ul {
        font-size: 0.8rem;
    }

    .info-container .column1[style] {
        text-align: left; /* Alinea la última columna a la izquierda */
    }
}